# PROYECTO DATA SCIENCE ENGINEERING OF SCIENCE

## PREGUNTAS

- ¿Existe una correlación significativa entre la tasa de suicidios y el promedio de
ingresos a nivel nacional en diferentes países?, si es que existe ¿Cómo ha
evolucionado a lo largo de la última década?
- ¿Cómo han evolucionado las tasas de suicidios en diferentes países a lo largo de la
última década? (Países con mayor aumento y países con menor aumento)
- ¿Cómo influye la desigualdad de ingresos en la tasa de suicidios dentro de un país
en comparación con el nivel global?
- ¿Existe una relación entre la tasa de suicidios de un país por cada 100.000
habitantes y el nivel educativo de estos?
- ¿Cómo afecta la religión a la tasa de suicidios en diferentes países?
- ¿Cómo influye el acceso a la tecnología en la tasa de suicidios en diferentes grupos
demográficos?
- ¿Se relaciona la tasa de suicidios con la esperanza de vida de los países?

In [241]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
import requests

IMPORTAMOS LAS LIBRERIAS QUE USAREMOS

In [242]:
#https://www.datosmundial.com/ingreso-promedio.php
ingresos_mundo= pd.read_csv('Datos/income.csv', sep=',')
ingresos_mundo.rename(columns={'location':'CodigoPais'}, inplace=True)
ingresos_mundo2009 = ingresos_mundo[ingresos_mundo["TIME"]==2009]
ingresos_mundo2019 = ingresos_mundo[ingresos_mundo["TIME"]==2019]

CREAMOS UN DATAFRAME CON LOS INGRESOS MEDIOS DE CADA PAIS EN AMBOS AÑOS A COMPARAR

In [243]:
df_suicidio_oms= pd.read_excel('Datos/data.xlsx',skiprows=2)
pd.set_option('display.max_columns', None)
df_suicidio_oms.dropna(thresh=0.2, inplace=True)

In [244]:
df_suicidio_oms_clean=df_suicidio_oms[['ParentLocation','SpatialDimValueCode','Location','Period','Dim1','FactValueNumeric']]
#renomvramos la columna spatialdimvaluecode por codigo pais
df_suicidio_oms_clean.rename(columns={'SpatialDimValueCode':'CodigoPais'}, inplace=True)

/var/folders/yr/1dwzyqt511jb113_wtkjnp640000gn/T/ipykernel_4269/1133562428.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_suicidio_oms_clean.rename(columns={'SpatialDimValueCode':'CodigoPais'}, inplace=True)

,ParentLocation,CodigoPais,Location,Period,Dim1,FactValueNumeric
0,Africa,AGO,Angola,2019,Both sexes,6.08
1,Africa,AGO,Angola,2019,Male,9.95
2,Africa,AGO,Angola,2019,Female,2.30
3,Africa,AGO,Angola,2018,Both sexes,6.00
4,Africa,AGO,Angola,2018,Male,9.80
...,...,...,...,...,...,...
10975,Western Pacific,WSM,Samoa,2001,Male,20.22
10976,Western Pacific,WSM,Samoa,2001,Female,6.59
10977,Western Pacific,WSM,Samoa,2000,Both sexes,13.65
10978,Western Pacific,WSM,Samoa,2000,Male,20.26
10979,Western Pacific,WSM,Samoa,2000,Female,6.47

In [245]:
suicidios2009 = df_suicidio_oms_clean[df_suicidio_oms_clean['Period'] == 2009]
suicidios2009 = suicidios2009[suicidios2009['Dim1'] == "Both sexes"]
suicidios2009

,ParentLocation,CodigoPais,Location,Period,Dim1,FactValueNumeric
30,Africa,AGO,Angola,2009,Both sexes,6.69
90,Africa,BDI,Burundi,2009,Both sexes,7.73
150,Africa,BEN,Benin,2009,Both sexes,8.46
210,Africa,BFA,Burkina Faso,2009,Both sexes,7.97
270,Africa,BWA,Botswana,2009,Both sexes,25.12
...,...,...,...,...,...,...
10710,Western Pacific,SLB,Solomon Islands,2009,Both sexes,15.79
10770,Western Pacific,TON,Tonga,2009,Both sexes,4.28
10830,Western Pacific,VNM,Viet Nam,2009,Both sexes,6.94
10890,Western Pacific,VUT,Vanuatu,2009,Both sexes,19.75
10950,Western Pacific,WSM,Samoa,2009,Both sexes,11.00

In [246]:
suicidios2019 = df_suicidio_oms_clean[df_suicidio_oms_clean['Period'] == 2019]
suicidios2019 = suicidios2019[suicidios2019['Dim1'] == "Both sexes"]
suicidios2019

,ParentLocation,CodigoPais,Location,Period,Dim1,FactValueNumeric
0,Africa,AGO,Angola,2019,Both sexes,6.08
60,Africa,BDI,Burundi,2019,Both sexes,6.24
120,Africa,BEN,Benin,2019,Both sexes,7.81
180,Africa,BFA,Burkina Faso,2019,Both sexes,7.48
240,Africa,BWA,Botswana,2019,Both sexes,16.05
...,...,...,...,...,...,...
10680,Western Pacific,SLB,Solomon Islands,2019,Both sexes,14.67
10740,Western Pacific,TON,Tonga,2019,Both sexes,3.82
10800,Western Pacific,VNM,Viet Nam,2019,Both sexes,7.51
10860,Western Pacific,VUT,Vanuatu,2019,Both sexes,18.03
10920,Western Pacific,WSM,Samoa,2019,Both sexes,12.55

  ## 1. 
   ¿Existe una correlación significativa entre la tasa de suicidios y el promedio de
ingresos a nivel nacional en diferentes países?, si es que existe ¿Cómo ha
evolucionado a lo largo de la última década?

In [247]:
#haremos un merge de los datos de suicidios con los datos de ingresos
suicidios_ingresos2009 = suicidios2009.merge(ingresos_mundo2009, on="CodigoPais", how="left")
suicidios_ingresos2019 = suicidios2019.merge(ingresos_mundo2019, on="CodigoPais")
suicidios_ingresos2009.head(15)

KeyError: 'CodigoPais'

In [ ]:
suicidios_ingresos2019.head(15)

,ParentLocation,CodigoPais,Location,Period,Dim1,FactValueNumeric,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,Americas,CAN,Canada,2019,Both sexes,11.81,CAN,AVWAGE,TOT,USD,A,2019,56370.0,NaN
1,Americas,CHL,Chile,2019,Both sexes,8.97,CHL,AVWAGE,TOT,USD,A,2019,33190.0,NaN
2,Americas,COL,Colombia,2019,Both sexes,3.90,COL,AVWAGE,TOT,USD,A,2019,21751.0,NaN
3,Americas,CRI,Costa Rica,2019,Both sexes,8.06,CRI,AVWAGE,TOT,USD,A,2019,28524.0,NaN
4,Americas,MEX,Mexico,2019,Both sexes,5.31,MEX,AVWAGE,TOT,USD,A,2019,18031.0,NaN
5,Americas,USA,United States of America,2019,Both sexes,16.14,USA,AVWAGE,TOT,USD,A,2019,73194.0,NaN
6,Europe,AUT,Austria,2019,Both sexes,14.60,AUT,AVWAGE,TOT,USD,A,2019,64623.0,NaN
7,Europe,BEL,Belgium,2019,Both sexes,18.29,BEL,AVWAGE,TOT,USD,A,2019,65700.0,NaN
8,Europe,CHE,Switzerland,2019,Both sexes,14.54,CHE,AVWAGE,TOT,USD,A,2019,71189.0,NaN
9,Europe,CZE,Czechia,2019,Both sexes,12.18,CZE,AVWAGE,TOT,USD,A,2019,36071.0,NaN
10,Europe,DEU,Germany,2019,Both sexes,12.31,DEU,AVWAGE,TOT,USD,A,2019,60732.0,NaN
11,Europe,DNK,Denmark,2019,Both sexes,10.70,DNK,AVWAGE,TOT,USD,A,2019,65222.0,NaN
12,Europe,ESP,Spain,2019,Both sexes,7.72,ESP,AVWAGE,TOT,USD,A,2019,44448.0,NaN
13,Europe,EST,Estonia,2019,Both sexes,14.89,EST,AVWAGE,TOT,USD,A,2019,33006.0,NaN
14,Europe,FIN,Finland,2019,Both sexes,15.29,FIN,AVWAGE,TOT,USD,A,2019,50873.0,NaN

## 2.
¿Cómo han evolucionado las tasas de suicidios en diferentes países a lo largo de la
última década? (Países con mayor aumento y países con menor aumento)

## 3.